{% extends "layout.html" %}

{% block title %}
    Your Stocks
{% endblock %}

{% block main %}
    <h2>Currently owned stocks</h2>
        <table style="width:30%;margin-left:auto;margin-right:auto" class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock["stock"] }}</td>
                        <td>{{ stock["name"] }}</td>
                        <td>{{ stock["SUM(shares)"] }}</td>
                        <td>{{ stock["price"] }}$</td>
                        <td>{{ stock["SUM(shares)"] * stock["price"] }}$</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ total }} $</td>
                </tr>
            </tbody>
        </table>
{% endblock%}