{% extends "layout.html" %}

{% block title %}
    History of transactions
{% endblock %}

{% block main %}
    <h2>History of transactions</h2>
        <table style="width:40%;margin-left:auto;margin-right:auto" class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in history %}
                    <tr>
                        <td>{{ transaction["stock"] }}</td>
                        <td>{{ transaction["shares"] }}</td>
                        <td>{{ transaction["price"] }}$</td>
                        <td>{{ transaction["type"] }}</td>
                        <td>{{ transaction["date"] }}</td>
                        <td>{{ transaction["time"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock%}